.Cart {
    max-width: 100%;
    min-height: 100%;
    /* overflow-x: hidden; */

    display: grid;
    grid-template-rows: calc(3em + var(--nav-size)) 1fr 8vh;
    grid-template-columns: 1fr;
    /* padding: 1ex; */
    box-sizing: border-box;
    grid-template-areas: 
      "header"
      "outlet"
      "footer";
  }

.Cart > .Cart-Header {
    grid-area: header;    

    background-color:rgb(17, 152, 194);
 
}

.Cart > .Cart-Content {
    box-shadow:  5px -3px 8px 3px rgba(0, 0, 0, 0.164)  inset;

    grid-area: outlet; 
    overflow-y: scroll;
    min-height: 100%;
    max-width: 100%;   
    /* background-color:rgb(187, 148, 22) */

}
.Cart > .Cart-Footer {
    grid-area: footer; 

   
}
