.Header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;


}

.Header .title{
    flex-grow: 8;
    display: flex;
    justify-content:flex-start;
    padding-left: 200px;
    height: 100%;

    
}

.Header .auth{
    height: 100%;
    display: flex;
    flex-grow: 2;
    justify-content:space-evenly;
    align-items: center;
}
