.Nav{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: var(--bg);
    border-bottom: var(--border);
}


.Nav > .navbar-nav{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
}


.Nav .navbar-nav-scroll {
    --bs-scroll-height: 100px;
}