.Categories{

}

.Categories > .container{
    display: flex;
    flex-direction: row-reverse;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Categories >.container > div{
    /* width: 60%;
    max-height: 150px; */
}



