.SearchBar{
    padding: 5px;
    
    margin: 2px;
    margin-right: 4%;
    display: flex;
    padding-top: 0;
    margin-top: 0;
    align-items: flex-start;
    justify-content:flex-end;

}
.SearchBar  .smart-input{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: baseline;
    
}
.SearchBar  .Search-input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SearchBar  .Search-input > .search-icon{
    margin-right: 5px;
    color: rgb(99, 186, 189) ;
    border: none;
    width: 40px;
    height: 38px;
    border-radius: 20%;
    background-color: rgba(83, 83, 83, 0.459);
    transition: 300ms;
}
.SearchBar  .Search-input > .search-icon:hover{
    color: rgb(115, 214, 218) ;
    transform: scale(1.1);
}
.SearchBar  .Search-input > .clear{
    position: absolute;
    --button-size: calc(var(--nav-size) * 0.23);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #f700001c;
    border-radius: 50%;
    border: none;
    margin-top: 3px;
    transform: translate(500%,-90%);
    font-size: 6px;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    transition: 300ms;
    
}

/* .SearchBar > .contain {
    position: absolute;
    
    justify-content:flex-start;
    margin-top:15px ;
    min-width: 200px;
    min-height: 143px;
} */

.SearchBar  .Search-input > input{
    background-color: rgb(250, 250, 250);
    font-family:Arial, Helvetica, sans-serif;
    width: 200px;
    
}

.SearchBar  .search-output > ul{
    text-align: start;
    margin-top: 3px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.555);
    z-index: 5;
    width: 200px;
    background-color: rgba(250, 250, 250, 0.979);
    font-family:Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    
}
.SearchBar  .search-output > ul > li{
   transition: 300ms;
   box-shadow:  -5px 3px 10px rgba(0, 0, 0, 0.13) inset;
   border: 0.005% thin solid transparent;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   padding-left: 2px;
   font-size: 14px;

}

.SearchBar  .search-output > ul > li > img{
    max-width: 80px;
    padding-right: 5px;
    transition: 400ms;
    border-radius: 15%;
 }

.SearchBar  .search-output> ul > li:hover > img{
    /* max-width: 80px;
    padding-right: 5px; */
    transform: scale(1.15);
}
 
.SearchBar  .search-output> ul > li:hover{
        -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
    background-color: rgba(68, 164, 228, 0.452);
    font-size: 18px;
    font-style: oblique;
    padding-left: 5px;
}