.CartHeader{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    /* padding: 5%; */
    max-width: 100%;
    height: 100%;  
    background-color: #80bd25; 
    box-shadow:  -5px 3px 10px 3px rgba(0, 0, 0, 0.199)  inset;
    
    
}

.CartHeader .top{
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    margin: 5%;
    height: 100%;   
    width: 100%;
    flex-wrap: nowrap;
}
.CartHeader .top > .delete-button{
    transition: 300ms;
    cursor: pointer;
    
}
.CartHeader .top > .delete-button:hover{
    transform: scale(1.2);
}

.CartHeader .cart-icon::after {
    font-family: 'Material Icons';
    padding-left: 15px;
    content: 'shopping_bag';
  

}


.CartHeader .bot{
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
    flex-direction: row;
    border: 1px solid #64921e ;
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.11) inset;
    
    /* padding: 5%; */
    width: 100%;
    height: 100%;
}
.CartHeader .bot >button{
    border: 1px solid #64921e9f;
    width: 100%;
    height: 100%;
    background-color: #80bd2500;
    transition: 300ms;
}
.CartHeader .bot  button div{
    transition: 300ms;
}
.CartHeader .bot  button:hover div{
    transform: scale(1.2);
}








