
.ProductsList .card-group{
    display: flex;
    justify-content: center;
    margin: 5%;
    max-height:440px;
    min-height: 375px;
    height: 52vh;
    width: 60vw;
    overflow-x: scroll;
    overflow-y: hidden;

    flex-direction: column;
    border: 2px solid #5c7a56;
    border-radius: 1%;
    box-shadow: -6px 5px 20px 6px rgba(0, 0, 0, 0.288);
}

.ProductsList .card-group > div{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.ProductsList {
    display: flex;
    flex-flow:column;

    margin: 20px;
    align-items: center;
    
    
    
}
.ProductsList .head-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 600;
    text-shadow: -10px 6px 5px #273a0c23 ;    
    
    
}

