
.ProductsList .card-group{
    margin: 5%;
    max-height:400px;
    max-width: 60vw;
    overflow-x: auto;
    flex-flow:row;
    border: 2px solid #5c7a56;
    border-radius: 1%;
    box-shadow: -6px 5px 20px 6px rgba(0, 0, 0, 0.212);
}

.ProductsList .card-group > div{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.ProductsList {
    display: flex;
    flex-flow:column;

    margin: 20px;
    align-items: center;
    
    
    
}

