
.ProductsList .card-group{
    margin: 5%;
    max-height:400px;
    max-width: 60vw;
    overflow-x: auto;
    flex-flow:row;
    border-radius: 4%;
}


.ProductsList {
    display: flex;
    flex-flow:column;

    margin: 20px;
    align-items: center;
    
    
    
}