.SearchQuery{

}

.SearchQuery > .container{
    display: flex;
    flex-direction: row-reverse;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.SearchQuery > .container > div{
    margin-left: 2%;
    margin-bottom: 3%;
}