.nav-item{
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-item > .icon-button {

    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #4a484d3a;
    color: #2eb11d;
    border-radius: 50%;
    border: none;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.nav-item > .material-symbols-outlined {

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.nav-item > .icon-button:hover{
    transform: scale(1.2);
    filter:brightness(1.2);
    

}

.nav-item > .icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}