.ProductEdit {
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70%;
    /* text-shadow: -6px 4px 4px #00000088; */

}

.ProductEdit .body-text {
    /* margin-right: 10%; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: normal;
    
    width: 38%;
    /* text-align: unset; */

    /* width: 100%; */
    /* text-shadow: -6px 4px 4px #00000088; */

}
.ProductEdit .body-text > .card-text{
    padding-right:15px;
    padding-left:15px;
    border-bottom: #242526 1px solid;
    text-align: left;
    display: flex;
    text-shadow: -6px 4px 3px #44691a41;
    /* justify-content: flex-start; */
    flex-direction: column;
    

}
.ProductEdit .inputs {
    background-color: aliceblue;
    width: 70%;
    height: 28px;
    font-weight: 300;
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.205);
    border-radius: 5px ;
    border: 2px solid #0e1fb86c;
    text-align: center;
    text-shadow:none;
    align-self: flex-end;
    cursor: auto;
    margin-bottom: 3px;

}

.ProductEdit .prod-image{
    object-fit: cover;
    height: 260px;
    max-width: 45%;
    border-right: #80bd252a 3px solid;
    border-top: #80bd254f 3px solid;
    border-bottom: #80bd2552 3px solid;
    border-radius: 40%;
    box-shadow: -15px 10px 20px 4px rgba(11, 39, 17, 0.185);
    width: 100%



}
.ProductEdit .previewImage{
    object-fit: cover;
    height: 260px;
    max-width: 45%;
    border-right: #253cbd2a 3px solid;
    border-top: #2825bd4f 3px solid;
    border-bottom: #252fbd52 3px solid;
    border-radius: 20%;
    box-shadow: -15px 10px 20px 4px rgba(11, 39, 17, 0.185);
    width: 100%


}


/* 
.ProductEdit .submit-button  {
    background-color: rgba(10, 129, 80, 0.74);
    border-radius: 20px;
    margin-left: 10px;
    color: bisque;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    font-size: smaller;
    border: 3px solid #e4ffc52a;
    transition: 300ms;
    
}
.ProductEdit .submit-button:hover  {
    transform: scale(1.1);
    
} */

.ProductEdit .cart-control{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* padding-right: 10px; */
}

.ProductEdit .cart-control  button {
    box-shadow:  -4px 2px 5px 2px rgba(0, 0, 0, 0.205);
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 60px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    transform: scale(0.95);
    transition: 300ms;
    background-color: rgba(73, 219, 109, 0.993);

}
.ProductEdit .cart-control > .submit-button:hover {
    transform: scale(1.08);
    filter:contrast(1.5);
    filter:brightness(1.1);
    
}

.ProductEdit .amount{
    cursor: pointer;
    /* flex-direction:none; */
    display: inline-block;
    box-shadow:  -4px 3px 4px 3px rgba(0, 0, 0, 0.205);

    background-color: aliceblue;   
    padding-top: 0;
    /* height: 50px; */
    width:60px;
    
}

.ProductEdit .file-upload{
    position: absolute;
    /* bottom: 20%; */
    box-shadow:  -8px 6px 4px 3px rgba(0, 0, 0, 0.144);

    margin-top: 340px;
    right: 13.2%; 
    border: 4px solid #0c3b8173;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;   
    background-color: aliceblue;
    transition: 300ms;
}
.ProductEdit .file-upload:hover{
    transform: scale(1.05);
}
.ProductEdit .file-upload input[type="file"]{
    display: none;
}
.ProductEdit .image-name{

    position: absolute;
    font-weight: 400;
    font-size: 10px;
    width: 300px;
    right:6%;
    top:63%;
}
