.Main {
    max-width: 100%;
    min-height: 120%;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: 1fr 8vh;
    grid-template-columns: 1fr;
    /* padding: 1ex; */
    box-sizing: border-box;
    grid-template-areas: 
      "outlet"
      "footer";
  }

.Main > .Outlet {
    box-shadow:  -5px 5px 17px 12px rgba(0, 0, 0, 0.13)  inset;

    grid-area: outlet; 
    max-width: 100%;   
    background: rgb(40,102,40);
    background: linear-gradient(135deg, rgba(40,102,40,1) 17%, rgba(194,233,113,1) 52%, rgba(96,236,245,1) 93%); 

}
.Main >footer {
    grid-area: footer;    
    background-color:brown;
    box-shadow:  5px -5px 15px 2px rgba(0, 0, 0, 0.274)  inset;


}