.App {
  text-align: center;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
}

header a {
  color: #fff
}