.ProductsCard{
    margin: 0.5%;
    max-height: 400px;
    box-shadow:  -4px 4px 6px 4px rgba(0, 0, 0, 0.205);
    min-width:210px;
    transition: 300ms;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    background-color: #3c63aa71;
    border: 5px solid #555;
    
    border-color: rgba(8, 122, 37, 0.233);
    
}
.ProductsCard:hover{
    transform: scale(1.02);
}
.ProductsCard >.card-img-top{
    border-radius: 5px;
    transition: 500ms;
    opacity: 0.8;
    height: 150px;
    width: 210px;
    object-fit: cover;
}
.ProductsCard:hover >.card-img-top{
    border-radius: 0px;
    opacity: 1;
    
}

.ProductsCard > .card-body{
    border-top: 5px solid #555;

    border-color: rgba(8, 122, 37, 0.233);
}

.ProductsCard .cart-control{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductsCard .cart-control  button {
    box-shadow:  -4px 2px 5px 2px rgba(0, 0, 0, 0.205);
    margin-left: 3px;
    margin-right: 3px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    transform: scale(0.95);
    transition: 300ms;
    background-color: rgba(73, 219, 109, 0.993);

}
.ProductsCard .cart-control > button:hover {
    transform: scale(1.08);
    filter:contrast(1.5);
    filter:brightness(1.1);
    
}



.ProductsCard .amount{
    cursor: pointer;
    /* flex-direction:none; */
    display: inline-block;
    box-shadow:  -4px 3px 4px 3px rgba(0, 0, 0, 0.205);

    background-color: aliceblue;   
    padding-top: 0;
    width:30%;
    
}