.ProductsCard{
    /* flex-direction:none; */
    margin: 0.5%;
    max-height: 400px;
    box-shadow:  -2px -2px 10px 5px rgba(0, 0, 0, 0.288) ;
    /* max-width:500px; */
    min-width:15vw;
}
.ProductsCard >.card-img-top{
    height: 70%;
    
    border: 5px solid #555;
    border-color: rgba(8, 122, 37, 0.233);
}

.ProductsCard > .card-body{
    border: 5px solid #555;
    border-color: rgba(8, 122, 37, 0.233);
}

.ProductsCard .cart-control > button {
    border: none;
    transform: scale(0.95);
    transition: 250ms;
    background-color: rgba(73, 219, 109, 0.993);

}
.ProductsCard .cart-control > button:hover {
    transform: scale(1.04);
    filter:contrast(1.5);
    filter:brightness(1.1);
    
}

.ProductsCard .amount{
    /* flex-direction:none; */
    display: inline-block;   
    
    width:30%;
    
}