
.CartItem {
    max-width: 100%;
    /* min-height: 100%; */
    margin-top: 5px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #40bb353a;
    /* overflow-x: hidden; */
    background-color: rgb(37 173 129 / 85%);
    display: grid;
    grid-template-rows:20% 1fr 20%;
    grid-template-columns:25% 1fr 40%;
    /* padding: 1ex; */
    z-index: 1;
    box-sizing: border-box;
    grid-template-areas: 
      "exit header img"
      "main main img"
      "amount footer img";
    transition: 300ms;

      
  }
.CartItem:hover{
    transform: scale(1.02);

}


.CartItem > .exit{
    grid-area: exit;
    padding:7%;
    justify-self: start;
}
.CartItem > .exit > button{
    grid-area: exit;
    background-color: rgba(128, 128, 128, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 100%;   
    transition: 300ms;


}
.CartItem > .exit > button::after{
    font-family: 'Material Icons';
    content: 'backspace';
    font-size: 120%;
}
.CartItem > .exit > button:hover{
    transform: scale(1.3);
}

.CartItem > .card-img{
    grid-area: img;
    padding: 5%;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    /* width: 30%; */
}

.CartItem > .main {
    grid-area: main;
    padding-right: 5%;
    transform: translate(30%, -10%);
    margin: 0 auto;
    justify-self: end;
    padding: 10px;

}
.CartItem > .cardFooter {
    grid-area: footer;
    transform: translate(+20%, +0%);
    margin: 0 auto;
}
.CartItem > .amount {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-top-right-radius:80% ;
    background-color: #f0f8ffe5;
    cursor: pointer;
}
.CartItem > .amount > p {
    transform: translate(-10%, 0%);
    padding: 1%;
}

.Cart > .Cart-Header {
    grid-area: header;    
    background-color:rgb(17, 152, 194)

}