
.CartItem {
    max-width: 100%;
    /* min-height: 100%; */
    margin-top: 5px;
    height: 15vh;
    max-height: 160px;
    min-height: 100px;
    border-radius: 5px;
    border: 3px solid #40bb353a;
    /* overflow-x: hidden; */
    background-color: rgb(37 173 129 / 85%);
    display: grid;
    grid-template-rows:20% 1fr 20%;
    grid-template-columns:25% 1fr 46%;
    /* padding: 1ex; */
    z-index: 1;
    box-sizing: border-box;
    grid-template-areas: 
      "exit main img"
      "header header img"
      "amount footer img";
    transition: 300ms;

      
  }
.CartItem:hover{
    transform: scale(1.02);

}


.CartItem > .exit{
    grid-area: exit;
    padding:7%;
    justify-items: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 20px;
}
.CartItem > .exit > button{
    height: 20px;
    
    background-color: rgba(128, 128, 128, 0);
    color: rgb(0, 0, 0);
    border: none;
   
    transition: 300ms;


}
.CartItem > .exit > button::after{
    font-family: 'Material Icons';
    content: 'backspace';
    font-size: 120%;
}
.CartItem > .exit > button:hover{
    transform: scale(1.3);
}

.CartItem > .card-img{
    grid-area: img;
    padding: 5%;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    
    /* width: 30%; */
}

.CartItem > .main {
    grid-area: main;
    max-width: 100%;
    max-height: 100%;
    min-height: 40px;
    display: flex;
    margin: 0 auto; 
    text-align: center;
    
    justify-items: center;
    align-items: center;

    /* padding: 10px; */

}
.CartItem > .cardFooter {
    grid-area: footer;
    transform: translate(+20%, +0%);
    margin: 0 auto;
}
.CartItem > .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    
    object-fit: cover;

    max-width: 100%;
    height: 100%;
    border: 2px solid #93bac48c;
    border-top-right-radius:80% ;
    background-color: #f0f8ffe5;
    cursor: pointer;
}
.CartItem > .amount > p {
    /* transform: translate(-10%, 0%); */
    padding: 1%;
}

.CartItem  .header {
    display: flex;
    grid-area: header;  
    max-width: 100%;
    max-height: 100%;
    justify-content: flex-start;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -6px 4px 3px rgba(0, 0, 0, 0.151);
    align-items: center;
    margin: 0px;
    cursor: pointer;
 

}