
.ProductDetails{
    /* height: 100%;
    display: flex;
    flex-grow: 2;
    justify-content:space-evenly;
    align-items: center; */
}

.ProductDetails > .my-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 100%;
    width: 100vw;
    background-color: rgba(43, 42, 42, 0.603);
    cursor: pointer;
    
}
.ProductDetails > .pop-window{
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    z-index: 6;
}
.ProductDetails > .pop-window > .window-body{
    box-shadow: -20px 30px 20px 4px rgba(11, 39, 17, 0.301);
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #242526;
    background-color: #93bac4;
    border-radius: 20px;
    border:#242526 10px solid;
    height: 75vh;
    max-height: 800px;
    min-height: 600px;
    width: 60vw;
    max-width: 800px;
    min-width: 650px;
    cursor: default;
}

.ProductDetails > .pop-window .header{
    display: flex;
    /* margin-top: 10px; */
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-bottom: 20px; */
    width: 100%;
    height: 10%;
}

.ProductDetails > .pop-window .header button{
    background-color: #80bd25;
    border-radius: 20px;
    margin-left: 10px;
    color: #242526;
    border: none;
    
}

.ProductDetails > .pop-window .header .swap-content{
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    font-size: smaller;
    border: 3px solid #e4ffc52a;
    transition: 300ms;

}
.ProductDetails > .pop-window .header .swap-content:hover{
   
    transform: scale(1.1);

}

.ProductDetails > .pop-window .header .X{
    /* flex-grow: 1; */
    border: 3px solid #e4ffc52a;
    height: 30px;
    width: 30px;
    font-size: smaller;
    transition: 300ms;
}
.ProductDetails > .pop-window .header .X:hover{
    
    transform: scale(1.1);
}


/* .ProductDetails .window-body input {
    border-radius: 6px;
    max-width: 200px;
    margin-bottom: 15px;
    box-shadow: -7px 5px 5px 2px #00000088;
    margin-left: 8px;
    width: 190px;

} */
/* .ProductDetails .window-body i {
    position: absolute;
    left: 8%;
    margin-top: 3px;
  
    color: beige;
 

} */
.ProductDetails .my-body {
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70%;
    /* text-shadow: -6px 4px 4px #00000088; */

}

.ProductDetails .my-body .body-text {
    /* margin-right: 10%; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: normal;
    
    width: 38%;
    /* text-align: unset; */

    /* width: 100%; */
    /* text-shadow: -6px 4px 4px #00000088; */

}
.ProductDetails .my-body .body-text > .card-text{
    padding-right:15px;
    padding-left:15px;
    border-bottom: #242526 1px solid;
    text-align: left;
    display: flex;
    text-shadow: -6px 4px 3px #44691a41;
    /* justify-content: flex-start; */
    flex-direction: column;
    

}
.ProductDetails .my-body .inputs {
    background-color: aliceblue;
    width: 70%;
    height: 28px;
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.205);
    border-radius: 50rem ;
    border: 2px solid #8fd4282a;
    text-align: center;
    text-shadow:none;
    align-self: flex-end;
    cursor: auto;
    margin-bottom: 3px;

}

.ProductDetails .my-body img{
    object-fit: cover;
    height: 260px;
    max-width: 45%;
    border-right: #80bd252a 3px solid;
    border-top: #80bd254f 3px solid;
    border-bottom: #80bd2552 3px solid;
    border-radius: 40%;
    box-shadow: -15px 10px 20px 4px rgba(11, 39, 17, 0.185);



}

.ProductDetails .footer{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;


}


.ProductDetails .submit-button  {
    background-color: rgba(10, 129, 80, 0.74);
    border-radius: 20px;
    margin-left: 10px;
    color: bisque;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    font-size: smaller;
    border: 3px solid #e4ffc52a;
    transition: 300ms;
    
}
.ProductDetails .submit-button:hover  {
    transform: scale(1.1);
    
}

.ProductDetails .cart-control{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* padding-right: 10px; */
}

.ProductDetails .cart-control  button {
    box-shadow:  -4px 2px 5px 2px rgba(0, 0, 0, 0.205);
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 60px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    transform: scale(0.95);
    transition: 300ms;
    background-color: rgba(73, 219, 109, 0.993);

}
.ProductDetails .cart-control > button:hover {
    transform: scale(1.08);
    filter:contrast(1.5);
    filter:brightness(1.1);
    
}

.ProductDetails .amount{
    cursor: pointer;
    /* flex-direction:none; */
    display: inline-block;
    box-shadow:  -4px 3px 4px 3px rgba(0, 0, 0, 0.205);

    background-color: aliceblue;   
    padding-top: 0;
    /* height: 50px; */
    width:60px;
    
}
