
.ProductDetails {
    box-shadow: -20px 30px 20px 4px rgba(11, 39, 17, 0.301);
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #242526;
    background-color: #93bac4;
    border-radius: 20px;
    border:#333435 10px solid;
    height: 75vh;
    max-height: 800px;
    min-height: 500px;
    width: 60vw;
    max-width: 800px;
    min-width: 650px;
    cursor: default;
}

.ProductDetails > .header{
    display: flex;
    /* margin-top: 10px; */
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-bottom: 20px; */
    /* padding-bottom: 20px; */
    width: 100%;
    height: 10%;
}

.ProductDetails > .header button{
    background-color: #80bd25;
    border-radius: 20px;
    margin-left: 10px;
    color: #242526;
    border: none;
    
}

.ProductDetails > .header .swap-content{
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    font-size: smaller;
    border: 3px solid #e4ffc52a;
    transition: 300ms;

}
.ProductDetails > .header .swap-content:hover{
   
    transform: scale(1.1);

}

.ProductDetails > .header .X{
    /* flex-grow: 1; */
    border: 3px solid #e4ffc52a;
    height: 30px;
    width: 30px;
    font-size: smaller;
    transition: 300ms;
}
.ProductDetails > .pop-window .header .X:hover{
    
    transform: scale(1.1);
}

.ProductDetails .my-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70%;

}

.ProductDetails .my-body .body-text {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 38%;

}
.ProductDetails .my-body .body-text > .card-text{
    padding-right:15px;
    padding-left:15px;
    border-bottom: #242526 1px solid;
    text-align: left;
    display: flex;
    text-shadow: -6px 4px 3px #44691a41;
    flex-direction: column;

}

.ProductDetails .my-body .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 70%;
    height: 28px;
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.205);
    border-radius: 50rem ;
    font-weight: 300;
    border: 2px solid #8fd4282a;
    text-align: center;
    text-shadow:none;
    align-self: flex-end;
    cursor: auto;
    margin-bottom: 3px;

}

.ProductDetails .my-body img{
    object-fit: cover;
    height: 260px;
    max-width: 45%;
    border-right: #80bd252a 3px solid;
    border-top: #80bd254f 3px solid;
    border-bottom: #80bd2552 3px solid;
    border-radius: 40%;
    box-shadow: -15px 10px 20px 4px rgba(11, 39, 17, 0.185);



}

.ProductDetails .footer{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}


.ProductDetails .cart-control{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.ProductDetails .cart-control  .cart-buttons {
    box-shadow:  -4px 2px 5px 2px rgba(0, 0, 0, 0.205);
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 60px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    transform: scale(0.95);
    transition: 300ms;
    background-color: rgba(73, 219, 109, 0.993);

}
.ProductDetails .cart-control > .cart-buttons:hover {
    transform: scale(1.08);
    filter:contrast(1.5);
    filter:brightness(1.1);
    
}

.ProductDetails .amount{
    cursor: pointer;
    display: inline-block;
    box-shadow:  -4px 3px 4px 3px rgba(0, 0, 0, 0.205);
    background-color: aliceblue;   
    padding-top: 0;
    width:60px;
    
}
